body {
    font-family: Karla, Open Source Pro, sans-serif;
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(#280000, #280000, #280000, #310D0E, #3B1A1D, #45292E, #513940, #5E4C55, #695C66, #8F92A2, #A0A9BC);
    color: #e8e8e8;
}

#navbar {
    width: 100vw;
    height: 6vh;
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: row;
    font-size: 3vh;
    justify-content: space-between;
    align-items: center;
}

.sticky {
  position: fixed;
  background-color: #280000;
}

.nav-item {
    padding: 1vw;
}

.nav-item:hover {
    cursor: pointer;

}

a {
    color: inherit;
    text-decoration: inherit;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 12vw;
    padding-right: 12vw;
}

.page-content {
    display: flex;
    flex-direction: row;
    padding: 1.5vw;
}

.page-image {
    height: 70vh;
    padding: 1.5vw;
}

.page-text {
    height: 67vh;
    padding: 1.5vw;
    padding-top: 0px;
    font-size: 2.6vh;
    line-height: 3.5vh;
    overflow: scroll;
}

#title-page {
    background-image: url("../images/sky.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: baseline;
    padding: 0;
}

#title-text {
    width: 100vw;
    text-align: center;
    text-shadow: -2px 2px #666666;
    position: absolute;
    top: 8vh;
}

h1 {
    margin: 0px;
    font-size: 13vh;
    text-align: center;
}

h3 {
    margin: .75vw;
    font-size: 7vh;
    text-align: center;
}

#tower {
    z-index: 0;
    position: absolute;
    bottom: -6vh;
    width: 100vw;
}

h4 {
    z-index: 4;
    margin: 1vw;
    font-size: 6vh;
    text-align: center;
}

#p1, #p2, #p3, #p4, #p5, #p6{
    align-items: center;
    justify-content: center;
}

#p6-content {
    height: 47vh;
    padding: 1.5vw;
    padding-top: 0px;
    padding-bottom: 0px;
}

#footer {
    display: block;
}

#tinytower {
    width: 100vw;
    display: block;
}

#copyright {
    position: relative;
    padding-bottom: 1vw;
    text-align: center;
    font-size: 2.6vh;
    background-color: #280000;
}
